<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        Phone numbers
    </li>
    <li class="list-group-item"
        *ngFor="let phone of model">
            {{ phone.number | phone }}
            <span class="badge">
                {{ phone.type }}
            </span>
    </li>
    <li class="list-group-item">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">
                {{ _phoneEntry.type || 'Select' }}
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li *ngFor="let phoneType of phoneTypes">
                    <a 
                        (click)="_phoneEntry.type = phoneType">
                        {{ phoneType }}
                    </a>
                </li>
                </ul>
            </div>
            <input type="text"
                    class="form-control"
                    placeholder="Add Phone..."
                    [(ngModel)]="_phoneEntry.number" />
            <span class="input-group-btn">
            <button (click)="addPhone()"
                    [disabled]="!_phoneEntry.type || !_phoneEntry.number"
                    class="btn btn-info">
                Add
            </button>
            </span>
        </div>
    </li>
</ul>
